/* 全体 */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem;
  padding-bottom: 60px;
}

/* グリッド */
.postList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px; /* インスタっぽく狭い */
  list-style: none;
  padding: 0;
  margin: 0;
}

/* カード（正方形） */
.post {
  position: relative;
  aspect-ratio: 1 / 1;
}


/* 正方形を作る */
.post::before {
  content: "";
  display: block;
  padding-top: 100%;
}

/* テキスト配置 */
.title,
.author {
  position: absolute;
  left: 8px;
  right: 8px;
  color: #fff;
  text-shadow: 0 1px 4px rgba(0,0,0,.6);
}

.title {
  position: absolute;
  bottom: 28px;
  font-size: 0.85rem;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #fff;
}

.author {
  bottom: 8px;
  font-size: 0.75rem;
  opacity: 0.85;
}

/* hover（PC向け） */
.post:hover {
  filter: brightness(0.85);
}

/* 投稿詳細ページ */

.detailImageWrapper {
  width: 100%; /* 横幅いっぱい */
  max-width: 800px; /* PCでは画像の元サイズに制限 */
  margin: 0 auto;   /* 中央寄せ */
}

.detailImage {
  
}

.detailTitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 8px;
}

@media (max-width: 768px) {
  .postList {
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
  }
  .title,
  .author {
    display: none; /* スマホは文字なし */
  }
}


